<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button  class="boton" defaultHref="/home" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Listado de incidencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  @if (incidencias().length === 0) {
   <p class="no-incidencias">
    No hay incidencias guardadas
  </p>
  }

  @if (incidencias().length > 0) {

  <ion-list class="incidencias-list">
    @for (i of incidencias(); track i.id) {
    <ion-item class="incidencia-item" (click)="verDetalle(i.id)">

      <ion-thumbnail slot="start" class="incidencia-thumb">
        <img 
          [src]="i.photo || 'assets/no-image.jpg'" 
          (error)="onImageError($event)"
          alt="imagen"
        />
      </ion-thumbnail>

      <ion-label class="incidencia-label">
        <h2 class="titulo-incidencia">{{ i.createdAt | date:'short' }}</h2>
        <p>Lat: {{ i.latitude }}</p>
        <p>Lng: {{ i.longitude }}</p>
      </ion-label>

    </ion-item>
    }
  </ion-list>

  }

</ion-content>