<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listado de incidencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  @if (incidencias().length === 0) {
  <p>No hay incidencias guardadas</p>
  }

  @if (incidencias().length > 0) {

  <ion-list>
    @for (i of incidencias(); track i.id) {
    <ion-item>

      <ion-thumbnail slot="start">
        <img [src]="i.photo" />
      </ion-thumbnail>

      <ion-label>
        <h2>{{ i.createdAt | date:'short' }}</h2>
        <p>Lat: {{ i.latitude }}</p>
        <p>Lng: {{ i.longitude }}</p>
      </ion-label>

    </ion-item>
    }
  </ion-list>

  }

</ion-content>